// header styles
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  z-index: 1;
  color: $white;
  padding: 66px 0 20px 0px;
  z-index: 2;

  &_inner {
    color: $textColor;

    .humburger__item {
      background-color: $primary;
    }

    .nav {
      @include d(991) {
        color: $white;
      }
    }
  }

  @include d(1440) {
    padding: 50px 0 20px 0;
  }

  @include d(991) {
    padding: 20px 0;
  }

  &_top {
    margin-bottom: 20px;
    padding-bottom: 55px;
    border-bottom: 1px solid $borderColor;
    position: relative;
    z-index: 1;

    @include d(1440) {
      padding-bottom: 45px;
      margin-bottom: 13px;
    }

    @include d(991) {
      padding-bottom: 0;
      border-bottom: none;
      padding-top: 10px;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  &__phone {
    font-size: 20px;
    font-weight: bold;

    @include d(1199) {
      font-size: 18px;
    }

    @include d(991) {
      font-size: 16px;
    }

    @include d(767) {
      font-size: 14px;
    }
  }

  &__text {
    @include d(767) {
      font-size: 14px;
    }
  }
}

.logo {
  max-width: 180px;
  position: absolute;
  top: -125px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 20;

  @include d(1440) {
    top: -105px;
  }

  @include d(991) {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    flex: 0 0 120px;
    z-index: 1;
  }
}

.nav {
  padding: 11px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include d(991) {
    position: fixed;
    top: 0;
    left: -50vw;
    width: 50vw;
    height: 100vh;
    background-color: $coverColor;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 0 0 15px;
    transition: left $hover-duration $timing;
    z-index: 1;
  }

  @include d(767) {
    width: 70vw;
    left: -70vw;
  }

  @include d(575) {
    width: 100vw;
    left: -100vw;
  }

  &.open {
    left: 0;
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    @include d(991) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__item {
      position: relative;
      display: block;

      &:hover {
        .submenu {
          opacity: 1;
          pointer-events: initial;
          transform: translate(0, 0);
        }
      }

      &:not(:last-child) {
        margin-right: 80px;

        @include d(1440) {
          margin-right: 50px;
        }

        @include d(991) {
          margin-right: 0;
          margin-bottom: 10px;
          width: 100%;
        }
      }

      &_icon {
        &::before {
          content: "";
          position: absolute;
          top: 11px;
          right: -10px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 3px 0 3px;
          border-color: $white transparent transparent transparent;
          transition: transform $hover-duration $timing;
        }

        &.active {
          &::before {
            transform: rotate(180deg);
          }
        }
      }
    }

    &__link {
      padding: 0 10px;
    }
  }

}

.submenu {
  position: absolute;
  padding: 5px;
  top: 100%;
  left: 0;
  background-color: $white;
  width: 200px;
  opacity: 0;
  pointer-events: none;
  transform: translate(0, 10px);
  transition: opacity $hover-duration $timing, transform $hover-duration $timing;

  @include d(991) {
    position: static;
    background-color: transparent;
    width: auto;
    transform: translate(0, 0);
    opacity: 1;
    padding: 10px 20px;
    display: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  &__link {
    color: $textColor;
    transition: color $hover-duration $timing;
    display: block;

    @include rh(1024) {
      &:hover {
        color: $primary;
      }
    }

    @include d(991) {
      color: $white;
    }
  }
}

.humburger {
  width: 40px;
  height: 20px;
  position: relative;
  display: none;
  z-index: 1;

  @include d(991) {
    display: inline-block;
  }

  &__item {
    width: 100%;
    height: 2px;
    background-color: $white;
    position: absolute;
    left: 0;
    transition: width $hover-duration $timing, opacity $hover-duration $timing, transform $hover-duration $timing, background-color $hover-duration $timing, top $hover-duration $timing, bottom $hover-duration $timing;

    &:first-child {
      top: 0;
    }

    &:last-child {
      bottom: 0;
    }

    &:nth-child(2) {
      top: 50%;
      margin-top: -1px;
    }
  }

  &.open {
    .humburger__item {
      background-color: $primary;

      &:first-child {
        transform: rotate(45deg);
        top: 9px;
      }

      &:last-child {
        transform: rotate(-45deg);
        bottom: 8px;
      }

      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }
    }
  }
}