// header styles
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  z-index: 1;

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  max-width: 120px;
}