// project main styles
body {
  font-size: 16px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: $textColor;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
  text-rendering: geometricPrecision;
  margin: 0;

  //style default scrollbar
  &::-webkit-scrollbar {
    width: 6px;
    background-color: $textColor;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px $textColor;
    box-shadow: inset 0 0 4px $textColor;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    outline: 1px solid $primary;
    transition: background-color 0.4s ease;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Serif', 'Times New Roman', Times, serif;
  margin: 0;
  font-weight: 400;
}

h1,
h2 {
  font-size: 64px;
  line-height: 1.328em;
  text-transform: uppercase;
  margin: 20px 0;

  span {
    color: $primary;
  }

  @include d(1199) {
    font-size: 54px;
  }

  @include d(991) {
    font-size: 48px;
  }

  @include d(767) {
    font-size: 40px;
  }

  @include d(575) {
    font-size: 34px;
  }

  @include d(480) {
    font-size: 28px;
  }
}

h3 {
  font-size: 30px;
  line-height: 1.333em;
  margin: 13px 0;

  @include d(1199) {
    font-size: 26px;
  }

  span {
    color: $primary;
  }
}

h4 {
  font-size: 24px;
  line-height: 1.292em;
  color: $primary;
  font-style: italic;

  @include d(1199) {
    font-size: 22px;
  }

  @include d(767) {
    font-size: 20px;
  }
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.title-1 {
  @extend h1;
}

.title-2 {
  @extend h2;
}

.title-3 {
  @extend h3;
}

.title-4 {
  @extend h4;
}

.title-5 {
  @extend h5;
}

.title-6 {
  @extend h6;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 1.6em;
  margin: 0;
}

b,
strong {
  font-size: inherit;
}

img,
picture,
source {
  width: 100%;
  display: block;
}

label {
  cursor: pointer;
}

// hide custom arrows
select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

select::-ms-expand {
  display: none;
}

p,
li {
  line-height: 1.875em;
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

blockquote,
figure {
  margin: 0;
}

button {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

// hide date navigation in input
input[type="date"] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: relative;
    right: -10px;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
  }
}

// hide arrows in input type number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea,
input {
  color: $grey;
  width: 100%;
  border: none;
  transition: border-color $timing $hover-duration,
    color $timing $hover-duration;

  &:focus {
    outline: none;
    border-color: $black;
  }

  &::-webkit-input-placeholder {
    font-family: inherit;
    font-size: 14px;
    color: $grey;
  }

  &::-moz-placeholder {
    font-family: inherit;
    font-size: 16px;
    color: $grey;
  }

  &:-ms-input-placeholder {
    font-family: inherit;
    font-size: 14px;
    color: $grey;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 14px;
    color: $grey;
  }
}

textarea {
  resize: none;
  outline: none;
  line-height: 1.2em;
  height: 100%;

  &.form-input {
    height: auto;
  }
}

.main-wrapper {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity $duration $timing;
}

.container {
  @include m(1300) {
    max-width: 1230px;
  }

  @include m(1500) {
    max-width: 1470px;
  }

  @include d(991) {
    max-width: 100%;
  }
}

.section {
  position: relative;
}

.btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 21px;
  font-size: 16px;
  line-height: 1.18em;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 300px;
  text-align: center;
  white-space: nowrap;

  @include d(767) {
    font-size: 14px;
    font-weight: 400;
    padding: 15px;
  }

  &_primary {
    color: $white;
    background-color: $primary;
  }
}

.section-content {
  max-width: 640px;

  @include d(1440) {
    max-width: 540px;
  }

  @include d(991) {
    max-width: 100%;
  }

  .title-2,
  & h2 {
    margin-bottom: 80px;

    @include d(991) {
      margin-bottom: 40px;
    }
  }

  p:not(:last-child) {
    margin-bottom: 30px;

    @include d(991) {
      margin-bottom: 20px;
    }
  }

  a,
  span {
    color: $primary;
  }

  a {
    text-decoration: underline;
  }

  ul {
    margin: 30px 0;

    @include d(991) {
      margin: 20px 0;
    }

    li {
      position: relative;
      padding-left: 20px;

      &::before {
        content: "";
        width: 5px;
        height: 5px;
        background-color: $white;
        position: absolute;
        top: 10px;
        left: 0;
      }

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}

.section-title {
  margin-bottom: 80px;

  @include d(991) {
    margin-bottom: 40px;
  }
}

.section-img {
  max-width: 640px;

  @include d(1440) {
    max-width: 540px;
  }

  @include d(991) {
    max-width: 700px;
    margin: 40px auto;
  }
}

.form {
  &-box {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;

    &__select {
      &::before {
        content: "";
        width: 10px;
        height: 8px;
        background-image: url(../img/down.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
        position: absolute;
        top: 40%;
        right: 24px;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
    }
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;

    .form-box {
      padding: 0 10px 20px 10px;
      flex: 0 0 50%;

      @include d(767) {
        flex: 0 0 100%;
      }
    }
  }

  &-input {
    padding: 20px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    line-height: 1em;
    color: $grey;
    font-family: inherit;
    width: 100%;

    @include d(767) {
      line-height: 50px;
      height: 50px;
      padding: 0 10px;
    }
  }
}

.subtitle {
  font-size: 18px;
  font-style: italic;
  font-family: 'PT Serif', 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}

.content {
  padding: 160px 0 80px 0;

  @include d(1300) {
    padding: 100px 0 60px 0;
  }

  // @include d(1199) {
  //   padding: 100px 0 60px 0;
  // }

  @include d(991) {
    padding: 20px 0 60px 0;
  }
}

.arrow-link {
  display: block;
  color: $primary;
  font-size: 14px;
  font-weight: 700;
  position: relative;

  &::before {
    content: "";
    width: 20px;
    height: 8px;
    background-image: url(../img/arrow.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    top: 8px;
    transform: translate(0, 0);
    transition: transform $hover-duration $timing;

  }

  @include rh(1024) {
    &:hover {
      &::before {
        transform: translate(10px, 0);
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  font-weight: 700;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    color: $textColor;
    padding: 5px;
    transition: color $hover-duration $timing;

    @include rh(1024) {
      &:hover {
        color: $primary;
      }
    }

    &.active {
      color: $primary;
    }
  }
}