@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/raleway/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Italic.woff2') format('woff2'),
    url('../fonts/raleway/Raleway-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/raleway/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTserif/PTSerif-Italic.woff2') format('woff2'),
    url('../fonts/PTserif/PTSerif-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTserif/PTSerif-BoldItalic.woff2') format('woff2'),
    url('../fonts/PTserif/PTSerif-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTserif/PTSerif-Bold.woff2') format('woff2'),
    url('../fonts/PTserif/PTSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTserif/PTSerif-Regular.woff2') format('woff2'),
    url('../fonts/PTserif/PTSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}