// project colors
$white: #ffffff;
$black: #191919;
$coverColor: #13171C;
$textColor: $black;
$primary: #BB4445;
$grey: #8C8C8C;
$grey-400: #F3F3F3;
$borderColor: #E1DCD6;
$yellow: #FFE711;
$borderColor: #c4c4c4;
// timing
$hover-duration: .4s;
$duration: .8s;
$timing: cubic-bezier(.7, 0, .3, 1);