  <!-- footer start -->
  <footer class="footer" style="background-image: url(img/footer/footer-bg.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 order-2 order-lg-1">
          <div class="map" id="map">
          </div>
        </div>
        <div class="col-lg-6 offset-lg-1 order-lg-2">
          <div class="footer__content">
            <div class="section-title footer__title">
              <h2 class="title-2"> <span>Free</span>
                <i>Case Evaluation</i>
              </h2>
            </div>
            <p>Can’t call? Fill out our confidential form and we’ll contact you very shortly about your case.</p>
            <div class="contact-form">
              <form>
                <div class="form-row">
                  <div class="form-box">
                    <input type="text" placeholder="Name" class="form-input">
                  </div>
                  <div class="form-box">
                    <input type="email" placeholder="Email" class="form-input">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-box">
                    <input type="phone" placeholder="Phone Number" class="form-input">
                  </div>
                  <div class="form-box form-box__select">
                    <select class="form-input" aria-placeholder="Select Charge">
                      <option value="">Selecr charge</option>
                      <option value="felony">Felony</option>
                      <option value="misdemianor">Misdemianor</option>
                      <option value="federal">Federal</option>
                      <option value="juvenile">Juvenile</option>
                      <option value="other">Other</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-box form-box__select">
                    <select class="form-input" aria-placeholder="Select Crime">
                      <option value="">Select Crime</option>
                      <option value="Pre-File-investigation">Pre File Investigation</option>
                      <option value="drug-crimes">Drug Crimes</option>
                      <option value="sex-crimes">Sex Crimes</option>
                      <option value="dui">DUI</option>
                      <option value="violent-crimes">Violent Crimes</option>
                      <option value="theft-crimes">Theft Crimes</option>
                      <option value="juvenile-crimes">Juvenile Crimes</option>
                      <option value="probation-parole">Probation & Parole</option>
                      <option value="appeals-expungements">Appeals / Expungements</option>

                    </select>
                  </div>
                  <div class="form-box">
                    <button type="submit" class="btn btn_primary">Get Help Now</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="footer-row">
            <div class="footer-box">
              <h4 class="title-4">Our address</h4>
              <p><strong>Superior Law Center</strong></p>
              <p>3160 Camino del Rio South #300</p>
              <p>San Diego, CA 92108</p>
            </div>
            <div class="footer-box">
              <h4 class="title-4">Our Phone</h4>
              <a href="tel:8337510174">Phone: (833) 751-0174</a>
              <p>Fax: (619) 578-2305</p>
            </div>
            <div class="footer-box">
              <h4 class="title-4">Yes, <span>we make <br>
                  jail visits.</span></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="header_top">
            <div class="header-row">
              <p class="header__text">24/7 free case evaluation</p>
              <a href="tel:8337510174" class="header__phone">833-751-0174</a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="header-row">
            <a href="./" class="logo">
              <img src="img/logo.png" alt="logo">
            </a>
            <nav class="nav">
              <ul class="nav-menu">
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">Legal Services</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">Locations</a>
                  <ul class="submenu">
                    <li class="submenu__item"><a href="#" class="submenu__link">Sub item</a></li>
                    <li class="submenu__item"><a href="#" class="submenu__link">Sub item</a></li>
                    <li class="submenu__item"><a href="#" class="submenu__link">Sub item</a></li>
                    <li class="submenu__item"><a href="#" class="submenu__link">Sub item</a></li>
                  </ul>
                </li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">Case results</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">Testimonials</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">About Us</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">Contact us</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->