<!-- header start -->
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-row">
          <a href="./" class="logo">
            <img src="img/logo.svg" alt="logo">
          </a>
          <nav class="nav">
            <ul class="nav-menu">
              <li class="nav-menu__item"><a href="#" class="nav-menu__link">Item1</a>
                <ul class="sub-menu">
                  <li class="sub-menu__item"><a href="#" class="sub-menu__list">Sub item</a></li>
                </ul>
              </li>
              <li class="nav-menu__item"><a href="#" class="nav-menu__link">Item1</a></li>
              <li class="nav-menu__item"><a href="#" class="nav-menu__link">Item1</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- header end -->