<!-- modal start -->
<div class="modal modal-contact">
  <div class="modal-contact__header">
    <a href="tel:8337510174" class="modal-contact__link modal-contact_hidden">
      <img src="img/phone.svg" alt="phone">
      Call Us 24/7
    </a>
    <div class="modal-contact__link modal-contact_primary">
      <img src="img/text.svg" alt="text">
      Text Us
    </div>
  </div>
  <div class="modal-contact__body">
    <div class="modal-form-form">
      <form>
        <p>Call 714-676-5554 or complete the form for a free consultation. Phones are answered 24/7.</p>
        <div class="form-box">
          <input type="text" class="form-input" placeholder="Name">
        </div>
        <div class="form-box">
          <input type="email" class="form-input" placeholder="Email">
        </div>
        <div class="form-box">
          <input type="text" class="form-input" placeholder="Phone Number">
        </div>
        <div class="form-box">
          <textarea rows="4" class="form-input" placeholder="Tell us what happened"></textarea>
        </div>
        <button type="submit" class="btn btn_primary">Get Free Consultation Now</button>
      </form>
    </div>
  </div>
</div>